<%= render 'projects/header' %>

<section class="writing">
  <h2><%= @writing.title %></h2>

  <div class="content">
    <%= simple_format @writing.content %>
  </div>

  <ul class="controls">
    <li><%= link_to 'Edit this writing', [:edit, @project, @writing] %></li>
    <li><%= link_to 'Delete this writing', [@project, @writing], method: :delete, data: { confirm: 'Are you sure you want to delete this writing?' } %></li>
    <li><%= link_to 'Write something new', [:new, @project, @writing] %></li>
  </ul>
</section>
