<%= form_for [@todo_list.project, @todo_list], remote: true, format: :js do |f| %>
  <%= f.text_field :name, data: { behavior: 'enter_submits' } %>

  <div class="actions">
    <%= f.submit @todo_list.new_record? ? "Add this list" : "Rename this list" %>
    <span class="or_cancel">
      or
      <% if @todo_list.new_record? %>
        <%= link_to 'Cancel', '#', data: { behavior: 'cancel_add_todo_list_form' } %>
      <% else %>
        <%= link_to 'Cancel', [:cancel_edit, @todo_list.project, @todo_list], remote: true, format: :js %>
      <% end %>
    </span>
  </div>
<% end %>
