<% cache todo_list do %>
  <article id="<%= dom_id todo_list %>" class="todo_list" data-drop-items-path="<%= project_todo_list_drop_items_path(todo_list.project, todo_list, format: :js) %>">
    <%= render 'todo_lists/header', todo_list: todo_list %>

    <ul class="items"
        data-behavior="sortable"
        data-position-update-function="updateTodoItemPositions"
        data-connect-sortable-with=".todo_list .items"
        data-position-url="<%= position_project_todo_list_todo_items_path(todo_list.project, todo_list, format: :js) %>">
      <% todo_list.todo_items.pending.positioned.each do |todo_item| %>
        <%= render todo_item %>
      <% end %>
    </ul>

    <div data-behavior="add_item_trigger_container" class="add_item_trigger_container">
      <%= link_to 'Add a to-do', [:new, todo_list.project, todo_list, :todo_item], remote: true, format: :js %>
    </div>

    <div data-behavior="add_todo_item_form_container">
    </div>

    <ul class="completed_items">
      <% todo_list.todo_items.completed.last_updated(10).each do |todo_item| %>
        <%= render todo_item %>
      <% end %>
    </ul>
    
    <% if count = todo_list.how_many_more_completed_todo_items_than(10) %>
      <p class="more_todo_items">
        <%= link_to '#' do %>
          <%= count %> more item<%= count > 1 ? 's' : '' %>
        <% end %>
      </p>
    <% end %>
  </article>
<% end %>
