<article id="<%= dom_id todo_list %>" class="todo_list">
  <h3 class="name"><%= todo_list.name %></h3>

  <ul class="items" data-behavior="sortable"
      data-position-url="<%= position_project_todo_list_todo_items_path(todo_list.project, todo_list, format: :js) %>">
    <% todo_list.todo_items.pending.positioned.each do |todo_item| %>
      <%= render todo_item %>
    <% end %>
  </ul>

  <div data-behavior="add_item_trigger_container" class="add_item_trigger_container">
    <%= link_to 'Add a to-do', [:new, todo_list.project, todo_list, :todo_item], remote: true, format: :js %>
  </div>

  <div data-behavior="add_todo_item_form_container">
  </div>

  <ul class="completed_items">
    <% todo_list.todo_items.completed.positioned.each do |todo_item| %>
      <%= render todo_item %>
    <% end %>
  </ul>
</article>
