<section class="project">
  <h1><%= @project.name %></h1>
  <ul class="project_nav">
    <li><%= link_to 'Todos', [@project, :todo_lists] %></li>
    <li><%= link_to 'Writings', '#todo' %></li>
    <li><%= link_to 'Files', '#files' %></li>
  </ul>

  <header class="with_button">
    <h2>Todo Lists</h2>
    <%= link_to 'Add a todo list', '#', data: { behavior: 'show_add_todo_list_form' }, class: 'btn' %>
  </header>

  <div data-behavior="todo_list_form_container" class="no_display">
    <%#= render 'form' %>
  </div>

  <section class="todo_lists"
           data-behavior="sortable"
           data-position-update-function="updateTodoListPositions"
           data-position-url="<%= position_project_todo_lists_path(@project, format: :js) %>">
    <% if @project.todo_lists.any? %>
      <%= render @project.todo_lists.positioned %>
    <% else %>
      <p class="empty">
        No Todo Lists created yet.
      </p>
    <% end %>
  </section>
</section>
