<% cache @project do %>
  <%= render 'projects/header' %>

  <header class="with_button">
    <h2>Todo Lists</h2>
    <%= link_to 'Add a todo list', [:new, @project, :todo_list],
        class: 'btn', remote: true, format: :js %>
  </header>

  <div data-behavior="todo_list_form_container">
  </div>

  <div class="two_cols">
    <section class="todo_lists primary_col"
             data-behavior="sortable"
             data-position-update-function="updateTodoListPositions"
             data-position-url="<%= position_project_todo_lists_path(@project, format: :js) %>">
      <% if @todo_lists.any? %>
        <%= render @todo_lists %>
      <% else %>
        <p class="empty">
          No Todo Lists created yet.
        </p>
      <% end %>
    </section>

    <section class="sidebar">
      <p>
        <%= @completed_todo_lists_count %> completed to-do lists
      </p>
    </section>
  </div>
<% end %>
