<h1>Projects</h1>

<section class="projects">
  <%= form_for @project do |f| %>
    <h4>New project</h4>
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit('Create this project') %>
    </div>
  <% end %>
  
  <% @projects.each do |project| %>
    <article>
      <h2><%= link_to project.name, [project, :todo_lists] %></h2>
      <p class="updated_at">
        Updated <%= time_ago_in_words project.updated_at %> ago.
      </p>
    </article>
  <% end %>
</section>
