<!DOCTYPE html>
<html>
<head>
  <title><%= create_page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <nav class="center">
    <%= link_to 'All Projects', :root %>
    
    <%= render 'searches/form' %>
  </nav>
</header>

<div class="sheet">
  <%= yield %>
</div>

<div id="search_results" class="triangle_to_top">
  <h2>Search for 'pro'</h2>
  
    <h3>Projects</h3>
    <ul>
        <li>
          <a href="/projects/8-ducttape-project-manager">Ducttape - Project Manager</a>
        </li>
        <li>
          <a href="/projects/10-desteni-i-process">Desteni I Process</a>
        </li>
        <li>
          <a href="/projects/14-php-preprocessor">PHP Preprocessor</a>
        </li>
        <li>
          <a href="/projects/42-servers-provisioning">Servers &amp; Provisioning</a>
        </li>
    </ul>
</div>

</body>
</html>
